<table style="border-collapse: collapse;">
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :name %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :address %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :city %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :cell %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :state %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :zip %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :email %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :current_rats %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :current_rat_count %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :current_rat_gender %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :current_rat_age %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :previous_rats %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :previous_rat_count %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :previous_rat_lifespan %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :cause_of_death %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :vet_care %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :vet_name %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :cage_description %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :cage_location %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :household_members %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :children_ages %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :additional_animals %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :interaction_time %>
  <%= render "table_row", adoption_application: adoption_application,
                           data_entry: :preferred_characteristics %>
</table>
