<%= form_for @volunteer_application do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <div class="select">
    <%= f.label :state %>
    <%= f.select :state, options_for_select(us_states) %></br>
  </div>

  <%= f.label :zip %>
  <%= f.text_field :zip %>

  <%= f.label :cell %>
  <%= f.text_field :cell %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :reason_for_volunteering,
    "Why do you want to quarantine or foster?" %>
  <%= f.text_area :reason_for_volunteering, rows: 6 %>
  
  <div class="radio"> 
    <%= f.radio_button :volunteering_type,
      "foster" %>
    <%= f.label :volunteering_type,
      "I would like to be a foster home",
      value: "foster" %></br>

    <%= f.radio_button :volunteering_type,
      "quarantine" %>
    <%= f.label :volunteering_type,
      "I would like to be a quarantine home",
      value: "quarantine" %></br>

    <%= f.radio_button :volunteering_type, "either", checked: true %>
    <%= f.label :volunteering_type_either,
      "I would like to foster or quarantine",
      value: "either" %></br>
  </div>

  <%= f.label :rat_cage_location, "Where will the rat cage be located?" %>
  <%= f.text_field :rat_cage_location %>

  <div class="radio">
    <%= f.radio_button :transportation, true, checked: true %>
    <%= f.label :transportation, "I have my own car", value: "true" %></br>

    <%= f.radio_button :transportation, false %>
    <%= f.label :transportation, "I do not have my own car", value: "false" %>
      </br>
  </div>

  <div class="note">
    Any Rat Rescue covers the cost for all veterinary treatment and medication
    for the rats in quarantine and foster homes. 
  </div>

  <div class="radio">
    <%= f.radio_button :vet_appointments, true, checked: true %>
    <%= f.label :vet_appointments,
      "I can keep vet appointments",
      value: "true" %></br>

    <%= f.radio_button :vet_appointments, false %>
    <%= f.label :vet_appointments,
      "I can not keep vet appointments",
      value: "false" %></br>
  </div>

  <div class="note">
    Instructions on how to administer medications safely and effectively will
    be provided.
  </div>

  <div class="radio">
    <%= f.radio_button :caring_for_ill_rats, true, checked: true %>
    <%= f.label :caring_for_ill_rats,
      "I am comfortable caring for sick or injured rats.",
      value: "true" %></br>

    <%= f.radio_button :caring_for_ill_rats, false %>
    <%= f.label :caring_for_ill_rats,
      "I can not look after sick or injured rats.", value: "false" %></br>
  </div>

  <div class="radio">
    <%= f.radio_button :other_rats, true %>
    <%= f.label :other_rats, "I currently own rats.", value: "true" %></br>

    <%= f.radio_button :other_rats, false, checked: true %>
    <%= f.label :other_rats, "I do not own any rats.", value: "false" %></br>
  </div>
  
  <div class="js-dependent-fields" 
       data-radio-name="volunteer_application[other_rats]"
       data-radio-value="true">
    <%= f.label :other_rats_count, "How many other rats do you currently own?" 
        %>
    <%= f.text_field :other_rats_count %>

    <%= f.label :other_rats_gender, "What gender are your other rats?" %>
    <%= f.text_field :other_rats_gender %>

    <%= f.label :other_rats_age, "How old are your other rats?" %>
    <%= f.text_field :other_rats_age %>
  </div>
  
  <div class="radio">
    <%= f.radio_button :other_animals, true %>
    <%= f.label :other_animals,
      "I have other animals in my home.",
      value: "true" %></br>
  
    <%= f.radio_button :other_animals, false, checked: true %>
    <%= f.label :other_animals,
      "I do not have any other animals in my home.",
      value: "false" %></br>
  </div>
  
  <div class="js-dependent-fields"
       data-radio-name="volunteer_application[other_animals]"
       data-radio-value="true">
    <%= f.label :other_animals_type,
      "What kind of other animals do you have in your home?" %>
    <%= f.text_field :other_animals_type %>

    <%= f.label :other_animals_count, "How many other animals do you own?" %>
    <%= f.text_field :other_animals_count %>
  </div>
  
  <div class="radio">
    <%= f.radio_button :work_location, true, checked: true %>
    <%= f.label :work_location, "I work away from home.", value: "true" %></br>

    <%= f.radio_button :work_location, false %>
    <%= f.label :work_location, "I work from home.", value: "false" %></br>
  </div>

  <%= f.label :hours_away_from_home,
    "How long are you away from home per day?" %>
  <%= f.text_field :hours_away_from_home %>
  
  <%= f.label :rat_interaction_time,
    "Will you be able to spend at least an hour with the rats a day?" %>
  <%= f.text_field :rat_interaction_time %>

  <div class="note">
    <p>
      Potential adopters will have already filled out an application and spoken
      with a member of Any Rat Rescue before they are able to meet with you.
      Any Rat Rescue respects your privacy and appreciates your help. Your
      contact information will only be shared with your permission and
      knowledge.
    </p>
    <p>
      Any Rat Rescue likes to acheive a smooth and quick adoption process
      however you will be given notice of an adoption meeting before it is
      confirmed.
    </p>
  </div>

  <div class="radio">
    <%= f.radio_button :adoption_appointments, true, checked: true %>
    <%= f.label :adoption_appointments,
      "I will be able to meet with adopters for the rats I am caring for." %>
    </br>

    <%= f.radio_button :adoption_appointments, false %>
    <%= f.label :adoption_appointments,
      "I will not be able to meet with adopters for the rats I am caring for."
      %></br>
  </div>

  <div class="note">
    All supplies for an adoption will be provided by Any Rat Rescue.
  </div>

  <%= f.label :comments_or_questions,
    "Is there any thing else you would like us to know? Or do you have any
    specific questions for us?" %>
  <%= f.text_area :comments_or_questions %>
  
  <div class="Submit">
    <%= f.submit "Submit Volunteer Application"%>
  </div>
<% end %>
