<h1> Adoption Application </h1>

<% if @adoption_application.errors.any? %>
  <%= render "error_messages" %>
<% end %>

<div class="form-questions">
  <%= form_for @adoption_application do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <div class="select">
      <%= f.label :state %>
      <%= f.select :state, options_for_select(us_states) %></br>
    </div>

    <%= f.label :zip %>
    <%= f.text_field :zip %>

    <%= f.label :cell %>
    <%= f.text_field :cell %>

    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <div class="radio"> 
      <%= radio_button_tag(:current_rats, "yes") %>
      <%= label_tag(:current_rats_yes, "I currently own one or more rats") %></br>
  
      <%= radio_button_tag(:current_rats, "no", true) %>
      <%= label_tag(:current_rats_no, "I do not currently own any rats") %>
    </div>
    
    <div class="js-dependent-fields" data-radio-name='current_rats' data-radio-value='yes'>
      <%= f.label :current_rat_count %>
      <%= f.text_field :current_rat_count %>

      <%= f.label :current_rat_gender %>
      <%= f.text_field :current_rat_gender %>

      <%= f.label :current_rat_age %>
      <%= f.text_field :current_rat_age %>
    </div>
    
    <div class="radio">
      <%= radio_button_tag(:previous_rats, "yes") %>
      <%= label_tag(:previous_rats_yes, "I have previously owned one or more rats") %></br>
    
      <%= radio_button_tag(:previous_rats, "no", true) %>
      <%= label_tag(:previous_rats_no, "I have never owned any rats") %>
    </div>
    
    <div class="js-dependent-fields" data-radio-name='previous_rats' data-radio-value='yes'>

      <%= f.label :previous_rat_count %>
      <%= f.text_field :previous_rat_count %>

      <%= f.label :previous_rat_lifespan %>
      <%= f.text_field :previous_rat_lifespan %>

      <%= f.label :cause_of_death %>
      <%= f.text_field :cause_of_death %>
    </div>
    
    <%= f.label :vet_care %>
    <%= f.text_field :vet_care %>

    <%= f.label :vet_name %>
    <%= f.text_field :vet_name %>
    
    <div class="note">
      Note: Your free adoption bag and our website include several vet choices around the Valley
    </div>
    
    <%= f.label :cage_description %>
    <%= f.text_area :cage_description, rows: 6 %>

    <div class="note">
      Note: Any Rat Rescue has roomy new and used cages available for a donation.
    </div>
  
    <%= f.label :cage_location %>
    <%= f.text_field :cage_location %>

    <%= f.label :household_members %>
    <%= f.text_field :household_members %>

    <%= f.label :children_ages %>
    <%= f.text_field :children_ages %>

    <%= f.label :additional_animals %>
    <%= f.text_field :additional_animals %>

    <%= f.label :interaction_time %>
    <%= f.text_field :interaction_time %>

    <%= f.label :preferred_characteristics %>
    <%= f.text_area :preferred_characteristics, rows: 6 %>
    
    <div class="Submit">
      <%= f.submit "Submit Adoption Application"%>
    </div>
  <% end %>
</div>
