<div class="newsletter-text">
  <p>
    Want to be kept up to date with the latest news from Any Rat Rescue? 
  </p>
  <button class="subscribe"><%= link_to "Subscribe", "#" %></button>
  <h2>
    Monthly Adoptables Flyer
  </h2>
</div>

<div class="newsletter-list">
  <ul class="monthly-flyers">
    <% @flyers.each do |flyer| %>
      <li class="newsletter-list-items">
        <%= link_to asset_path("monthly_flyers/#{flyer}.pdf") do %>
          <%= image_tag("monthly_flyers/#{flyer}.png", class: "thumbnail") %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="newsletter-text">
  <h2>
    Quarterly Newsletters
  </h2>
</div>

<div class="newsletter-list">
  <ul class="monthly-flyers">
    <% @news.each do |news| %>
      <li class="newsletter-list-items">
        <%= link_to asset_path("news_documents/#{news}.pdf") do %>
          <%= image_tag("news_documents/#{news}.png", class: "thumbnail") %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="newsletter-text">
  <p>
    Own a business and want to post our flyer? We appreciate the support and
    would love to hear from you. Please <%= link_to "email us", "#" %> and tell
    us your story.
  </p>
</div>
