<div class="block-text">
  <p>
    <%= "Any Rat Rescue is a 501(c)(3) organization dedicated to finding loving, forever homes for rats in need, serving the Phoenix and Tucson metropolitan areas." %>
  </p>
  <p>
    <%= "We are approaching nearly 1,400 adoptions since our inception in 2004. We are a no-kill  rescue that truly accepts any domestic rat, regardless of health, age, or temperament." %>
  </p>
  <p>
    <%= "Any Rat Rescue is not a shelter, but rather a network of caring foster homes extending from Metro Phoenix to Tucson." %>
  </p> 
</div>
<div class="notice">
  <p>
    <%= "***IMPORTANT NOTICE***" %>
  </p>
  <p>
    <%= "At this time our foster homes are full and our resources are stretched to their limits. We are overloaded due to taking in rats that were abandoned and left to breed freely at an extended stay hotel and are currently unable to take in surrenders. In the Phoenix area, we are referring families to the Arizona Humane Society. In Tucson, please contact Humane Society of Southern Arizona. Both organizations do take pet rats." %>
  </p>
</div>

For more information about the benefits and importance of rescue, click here to read "Why do rats need rescuing?"
