<h2>Send us a message, we're listening</h2>

<% if @contact.errors.any? %>
  <%= render "error_messages/error_messages", object: @contact %>
<% end %>

<div class="contact-form-image">
  <div class="contact-image">
    <%= image_tag("rat-5.jpg") %>
  </div>
  <div class="contact-form">
    <%= form_for @contact do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :cell %>
      <%= f.text_field :cell %>

      <%= f.label :message %>
      <%= f.text_area :message %>

      <%= f.submit "Send message" %>
    <% end %>
  </div>
</div>
