<header>
  <div id="banner-container">
    <div id="banner">
      <%= image_tag("Logo Blue.jpg", class: "logo") %>
      <%= image_tag("Bubbles.jpg", class: "banner-image") %>
    </div>
    <div id="gradient">
    </div>
  </div>
  <nav class="menu">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Adopt", rat_adoptions_path %></li>
      <li><%= link_to "Newsletters", '#' %></li>
      <li><%= link_to "Resources", resources_path %></li>
      <li><%= "How to help" %>
        <select>
          <option><%= link_to "Volunteer", '#' %></option>
          <option><%= link_to "Donate", '#' %></option>
        </select>  
      </li>
    </ul>
  </nav>
</header>
