<header>
  <div class="banner-container">
    <div class="banner">
      <%= image_tag("logo-blue.jpg", class: "logo") %>
      <%= image_tag("rat-0.jpg", class: "banner-image") %>
    </div>
    <div class="gradient">
    </div>
  </div>

  <div class="navigation-bar">
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Newsletters", newsletters_path %></li>
      <li><%= link_to "Adopt", rat_adoptions_path %></li>
      <li><%= link_to "Resources", resources_path %></li>
      <li><%= link_to "How to help", "#" %>
        <ul class="dropdown">
          <li><%= link_to "Volunteer", volunteer_path %></li>
          <li><%= link_to "Donate", donate_path %></li>
        </ul>  
      </li>
      <li><%= link_to "Contact Us", "#" %></li>
    </ul>
  </div>
</header>
