<header>
  <div class="banner-container">
    <div class="banner">
      <%= image_tag("logo-blue.jpg", class: "logo") %>
      <%= image_tag("rat-0.jpg", class: "banner-image") %>
      <div class="banner-information">
        <ul class="contact-information">
          <li class="type">Address:</li>
          <li class="detail">P.O. Box ABC</li>
          <li class="detail">Scottsdale, AZ 85252</li>
          <li class="type">Phone:</li>
          <li class="detail">123-456-7890</li>
          <li class="type">Email:</li>
          <li class="detail">anyratrescue@example.com</li>
        </ul>
      </div>
    </div>
    <div class="gradient">
    </div>
  </div>

  <div class="navigation-bar">
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Newsletters", newsletters_path %></li>
      <li><%= link_to "Adopt", rat_adoptions_path %></li>
      <li><%= link_to "Resources", resources_path %></li>
      <li><%= link_to "How to help", "#" %>
        <ul class="dropdown">
          <li><%= link_to "Volunteer", volunteer_path %></li>
          <li><%= link_to "Donate", donate_path %></li>
        </ul>  
      </li>
      <li><%= link_to "Contact Us", new_contact_message_path %></li>
    </ul>
  </div>
</header>
