<header>
  <div id="banner-container">
    <div id="banner">
      <%= image_tag("Logo Blue.jpg", class: "logo") %>
      <%= image_tag("Bubbles.jpg", class: "banner-image") %>
    </div>
    <div id="gradient">
    </div>
  </div>

  <ul id="nav">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Adopt", rat_adoptions_path %></li>
    <li><%= link_to "Newsletters", "#" %></li>
    <li><%= link_to "Resources", resources_path %></li>
    <li><%= link_to "How to help", "#" %></a>
      <ul>
        <li><%= link_to "Volunteer", "#" %></li>
        <li><%= link_to "Donate", "#" %></li>
      </ul>  
    </li>
  </ul>
</header>
